/* General styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  padding: 0.9rem 1.5rem;
  background-color: #ff6600;
  color: white;
}

.navbar-links {
  display: flex;
}

.navbar-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar-links li {
  margin: 0 0.5rem;
}

.navbar-links a {
  text-decoration: none;
  color: black;
  padding: 0.5rem 1rem;
}

.navbar-links a:hover {
  background-color: transparent;
  border-radius: 5px;
}

/* Hamburger menu */
.toggle-button {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  outline: none;
}
.desktopNav {
  width: 100%;
}

.desktop {
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6600;
  padding: 15px 30px;
}

.links {
  text-decoration: none;
  color: black;
}
.links:hover {
  color: black;
}
.navbar {
  display: none;
}
.logo {
  width: 70px;
  height: 70px;
}
.desktopNavSearch {
  display: flex;
  width: 100%;
  /* padding: 0px 5px 0px 20px; */
  background-color: transparent;
  border: 1px solid white;
  /* border-radius: 20px; */
  height: 40px;
  max-width: 320px;
}

.desktopNavSearchButton {
  border: none;
  background-color: transparent;
}
.desktopNavSearchInput {
  width: 100%;
  background-color: transparent;
  border: none;
}
.desktopNavSearchInput::placeholder {
  color: white;
}
.desktopNavList {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-content: center;
  color: white;
}
.desktopNavList > li {
  margin: 0px 10px;
}
.desktopNavLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}
.desktopNavListSecond {
  margin: 0px;
  display: flex;
  padding: 10px;
  list-style: none;
}
.desktopNavListSecond > li {
  margin: 0px 10px;
  color: white;
}

/* Responsive design */
@media (max-width: 800px) {
  .desktop {
    display: none;
    z-index: 100;
  }
  .navbar {
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .toggle-button {
    /* margin-top: 30px; */
    display: flex;
    align-self: flex-start;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: transparent;
  }

  .navbar-links.active {
    display: flex;
    margin-top: 50px;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    text-align: center;
    width: 100%;
    margin: 0;
  }

  .navbar-links a {
    padding: 1rem;
    width: 100%;
  }
  .logo {
    width: 80px;
    height: 80px;
    align-self: flex-start;
  }
  .mobileNavList > li {
    margin: 15px 0px;
  }
}
